<div id="footer">
  <p>
    Let's Study.
  </p>
  <div class="right">
    <p>
      Copyright 2016.
    </p>
    <!--<% if session[:user_id] %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>-->
  </div>
</div>
