<div id="footer">
  <div id="slogan">
    <p>
      Let's Study.
    </p>
  </div>
  <div id="copyright">
    <p>
      Copyright 2016.
    </p>
  </div>
  <div id="date">
    <p>
      <%= DateTime.now.strftime("%d %B %Y") %>
    </p>
  </div>
</div>
